
.top-banner {
  width: 100%;
  background-color: rgb(108, 31, 31); 
  color: #000000;
   display: inline;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 0.5rem 0;
 
  top: 0;
  left: 0;
  z-index: 9999;
  white-space: nowrap;
  overflow: hidden;
}


.top-banner p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
